.home h2.entry-title {margin-bottom: .2em;}
.home h2.entry-title a {color: #92c251;}
.home .bd h3 {color: #6b6b6c;font-size: .9em;}
.home .bd p {margin-bottom: .2em;color: #6b6b6c;}
.home .content-area .site-main article {margin-top: 2%;}
.home .entry-footer {font-size: 12px;font-size: 1.2rem;padding: 1%;}
.gsearch {margin-right: 10%;}
aside.global-site-search {padding: 0px 0px 2em 0px;padding-left: 10%;margin: 0 0 0 0;}
.main-navigation {margin: 0px 10% 10%;}
.entry-footer {padding: 2% 2%;}
.edit-link {float: right;}
.media {margin: 0px 0px 0px 0px;}
.media, .bd {overflow: hidden;_overflow: visible;zoom: 1;}
.media .img {float: left;margin-right: 10px;margin-top: 5px;margin-left: 5px;border: 1px solid #f1f1f1;}
.media .img img {display: block;}
.entry-title {font-size: 1.4em;}
p.authors {font-size: .8em;}
#ru-networkheader {padding: 10px 10px 10px 40px;background: #91be57;direction: ltr;color: #ccc;position: relative;left: 0px;width: 100%;z-index: 99999;font-style: normal;font-weight: 700;line-height: 1.5em;}
#ru-network-home, .iriss {color: #fff;font-family: "Noto Sans",sans-serif;vertical-align: bottom;}
.posted-on::before {display: none;}
@media screen and (min-width: 59.6875em) {.site-header {margin: 10% 0px;padding: 0px 20%;}
	.site-header {padding: 0 5%;}
	.iriss {font-weight: 400;font-size: .8em;}
	.tmsymbol {font-weight: 400;font-size: .8em;color: #fff;font-family: "Noto Sans",sans-serif;vertical-align: top;}}